<div class="container">
  <br/>
  <h1 class="text-center">CHOISISSEZ UNE CATEGORIE</h1>
  <br/>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="card" routerLink="/ordinateur/pc-fixe">
        <div class="card-body">
          <img src="assets/images/home/pc-fixe.jpg">
          <h5 class="card-title">PC Fixe</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/ordinateur/pc-portable">
        <div class="card-body">
          <img src="assets/images/home/pc-portable.jpg">
          <h5 class="card-title">PC Portbale</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/ordinateur/pc-accessoire">
        <div class="card-body">
          <img src="assets/images/home/pc-accessoire.jpeg">
          <h5 class="card-title">Accessoires pour Ordinateurs</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
