<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-nowrap" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" routerLink="/gestion">Gestion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" routerLink="/create-article">Creer article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" routerLink="/ordinateur">Ordinateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" routerLink="/telephone">Téléphone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-nowrap" routerLink="/stockage">Stockage</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li>
        <button *ngIf="isConnected()" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Déconnexion</button>
      </li>
      <li >
        <button *ngIf="!isConnected()" class="btn btn-success my-2 my-sm-0" routerLink="/connexion">Connexion</button>
      </li>
      <li>
        <button routerLink="panier" class="btn btn-primary panier"><i class="fa-solid fa-cart-arrow-down"></i>
          <div class="badge bg-danger notification">
            <ng-container *ngIf="nbProduits!==0"> {{nbProduits}}</ng-container>
          </div>
        </button>
      </li>
    </ul>
  </div>
</nav>


