<br/>
<h1 class="text-center">CHOISISSEZ UNE CATEGORIE</h1>
<br/>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/stockage/stockage-hdd" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/stockage/stockage-usb" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/stockage/stockage-accessoire" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
