<div class="container">
  <br/>
  <h1 class="text-center">CHOISISSEZ UNE CATEGORIE</h1>
  <br/>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="card" routerLink="/stockage/stockage-hdd">
        <div class="card-body">
          <img src="assets/images/home/stockage-hdd.jpg">
          <h5 class="card-title">Disque dur</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/stockage/stockage-usb">
        <div class="card-body">
          <img src="assets/images/home/stockage-usb.jpg">
          <h5 class="card-title">Clés USB</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/stockage/stockage-accessoire">
        <div class="card-body">
          <img src="assets/images/home/stockage-accessoire.jpg">
          <h5 class="card-title">Accessoires de stockage</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
