<h1 class="text-center">PANIER</h1>
<br/>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let article of produits" class="col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{article.photo}}" alt="..."/>
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{article.titre}}</h5>
              {{article.prix}} €
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" (click)="supprimerArticle(article)">Add
              to cart</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>TOT : {{sommetotal}} €</div>
