<div class="container">
  <br/>
  <h1 class="text-center">CHOISISSEZ UNE CATEGORIE</h1>
  <br/>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="card" routerLink="/telephone/tel-fixe">
        <div class="card-body">
          <img src="assets/images/home/tel-accessoire.jpg">
          <h5 class="card-title">Téléphone Fixe</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/telephone/tel-portable">
        <div class="card-body">
          <img src="assets/images/home/tel-port.jpg">
          <h5 class="card-title">Télephone Portable</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/telephone/tel-accessoire">
        <div class="card-body">
          <img src="assets/images/home/tel-accessoire.jpg">
          <h5 class="card-title">Accessoires pour téléphones</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
