<section id="banner">
  <div class="inner">
    <h2 class ="title">HiTechStore</h2>
    <p class="st">Achetez les meilleurs produits High Tech de chez vous</p>
  </div>
  <section class="caroussel">    
    <ul class="items">
      <div class="item-content">
        <img src="/assets/images/home/p4.jpg" alt="Responsive image" style="width: 400px"/>
      </div>
      <div class="item-content">
        <img src="/assets/images/home/pc.jpg" alt="Responsive image" style="width: 500px ;box-shadow: 7px 4px 7px 5px grey;;"/>
      </div>
      <div class="item-content">
        <img src="/assets/images/home/disque-dur.jpeg" alt="Responsive image" style="width: 400px"/>
      </div>      
    </ul>
  </section>